<div class="add-address bg-color-lightblue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11">
        <img src="assets/icons/logo.png" class="logo" />
      </div>
    </div>
    <div class="row mb-5 pb-5">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-9 offset-md-1">
            <h6 class="text-normal barlow-bold">Current Location</h6>

            <div class="bg-white radius-8 p-5 map-block relative"></div>

            <form class="form">
              <div class="form-group relative">
                <input
                  type="paswd"
                  class="form-control"
                  id="exampleInputpasswd"
                  aria-describedby="emailHelp"
                  placeholder="Search Location"
                />

                <img src="assets/icons/search.png" class="absolute search" />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-4 pt-2">
        <div class="address-block radius-8 bg-white">
          <div class="bg-color-b current-location mb-3">
            <h6 class="barlow-regular text-smaller color-w">
              <img src="assets/icons/white-map.png" /> Current location
            </h6>
            <h6 class="text-normal barlow-medium color-w">
              22nd main road, Agara, HSR ...
            </h6>
          </div>
          <div class="p-4">
            <form>
              <div class="address-form">
                <label for="exampleInputEmail1">House/Flat/Block Number </label>
                <input
                  type="text"
                  class="form-control"
                  aria-describedby="emailHelp"
                />
              </div>

              <div class="address-form mt-4">
                <label for="exampleInputEmail1">Landmark </label>
                <input
                  type="text"
                  class="form-control"
                  aria-describedby="emailHelp"
                />
              </div>
            </form>

            <button
              class="btn btn-outline-dark barlow-regular text-normal w-100 mt-4"
              type="button"
            >
              Cancel
            </button>

            <button
              class="btn btn-warning barlow-regular text-normal w-100 mt-4"
              type="button"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
