@font-face {
  font-family: "BarlowBold";
  src: url("~src/assets/fonts/Barlow-Bold.ttf");
}

@font-face {
  font-family: "Barlowlight";
  src: url("~src/assets/fonts/Barlow-Light.ttf");
}

@font-face {
  font-family: "BarlowMedium";
  src: url("~src/assets/fonts/Barlow-Medium.ttf");
}

@font-face {
  font-family: "BarlowSemiBold";
  src: url("~src/assets/fonts/Barlow-SemiBold.ttf");
}

@font-face {
  font-family: "BarlowRegular";
  src: url("~src/assets/fonts/Barlow-Regular.ttf");
}
