
.about-us{
  padding-top: 4em;
.preserveLineBreak {
  white-space: pre-wrap !important;
}
.title{
  border-bottom: 4px solid;
  width: fit-content;
  border-color:#8db91c;
  padding: 0 0 10px 0;
  span{
      font-size:14px;
  }
}
.store{
  padding: 2em 0;
  font-size:20px;
}
}

